<script id="twitter-wjs" sync src="https://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" sync src="https://buttons.github.io/buttons.js"></script>

<footer class="footerSection nav-footer" id="footer">
    <section class="sitemap">
        <a href="/" class="nav-home">
            <img src="/static/icon.png" alt="Blade">
        </a>
        <div>
            <h5>{{ site.data.i18n[page.language].docs }}</h5>
            <a href="/about.html">{{ site.data.i18n[page.language].about }}</a>
            <a href="#">Blade 实战</a>
        </div>
        <div>
            <h5>{{ site.data.i18n[page.language].community }}</h5>
            <a href="https://github.com/lets-blade/awesome-blade">{{ site.data.i18n[page.language].user-showcase }}</a>
            <a href="https://gitter.im/biezhi/blade">Chat on Gitter</a>
            <a href="https://t.me/letsblade">Telegram Group</a>
            <a href="https://twitter.com/biezhii">@Blade on Twitter</a>
            <object type="image/svg+xml" data="https://img.shields.io/twitter/follow/biezhii.svg?label=Follow+Blade&amp;style=social">
                <a href="https://twitter.com/intent/follow?screen_name=biezhii">
                    <img alt="Follow Prettier on Twitter" src="https://img.shields.io/twitter/follow/biezhii.png?label=Follow+Blade&amp;style=social">
                </a>
            </object>
        </div>
        <div>
            <h5>更多</h5>
            <a href="/blog">Blog</a>
            <a href="https://github.com/lets-blade/blade">GitHub</a>
            <a href="https://github.com/lets-blade/blade/issues">Issues</a>
            <iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Flets-blade%2Fblade&amp;title=&amp;aria-label=Star%20this%20project%20on%20GitHub&amp;data-icon=octicon-star&amp;data-text=Star&amp;data-show-count=true"
                style="width: 104px; height: 20px; border: none;"></iframe>
        </div>
    </section>
</footer>