<div class="fixedHeaderContainer">
  <div class="headerWrapper wrapper">
    <header>
      <a href="/">
        <img class="logo" src="/static/icon.png">
        <h2 class="headerTitle">Blade</h2>
      </a>
      <div class="navigationWrapper navigationSlider">
        <nav class="slidingNav">
          <ul class="nav-site nav-site-internal">
            {% for menu in site.data.menus %}
            <li>
              {% assign url = "/" | append: menu.url %} 
              {% assign target = "_self" %}

              {% if page.language == 'en' %} 
                {% if menu.name == 'docs' %} 
                  {% assign url = "/docs/en" %} 
                {% endif %} 
                {% if menu.name != 'docs' %} 
                  {% assign url = "/en/" | append: menu.url %} 
                {% endif %} 
              {% endif %} 
              
              {% if menu.target == "_blank" %} 
                {% assign target = menu.target %} 
                {% assign url = menu.url %} 
              {% endif %}
              <a href="{{ url }}" target="{{ target }}">
                {{ site.data.i18n[page.language].[menu.name] }}
              </a>
            </li>
            {% endfor %}
            <!-- <li>
              {% if page.language == 'en' %}
              <a href="/" target="_self">
                <img class="languages-icon" src="/static/img/language.svg">中文文档</a>
              {% endif %} {% if page.language != 'en' %}
              <a href="/en" target="_self">
                <img class="languages-icon" src="/static/img/language.svg">English</a>
              {% endif %}
            </li> -->
            <!-- <li class="navSearchWrapper reactNavSearchWrapper">
              <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;">
                <input type="text" id="search_input_react" placeholder="Search" class="aa-input" autocomplete="off" spellcheck="false" role="combobox"
                  aria-autocomplete="list" aria-expanded="false" aria-labelledby="search_input_react" aria-owns="algolia-autocomplete-listbox-0"
                  dir="auto" style="position: relative; vertical-align: top;">
                <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: -apple-system, system-ui, system-ui, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 300; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
                <span class="aa-dropdown-menu" role="listbox" id="algolia-autocomplete-listbox-0" style="position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;">
                  <div class="aa-dataset-1"></div>
                </span>
              </span>
            </li> -->
            <li>
              <a href="https://github.com/lets-blade/blade" target="_self">GitHub</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </div>
</div>