<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " zh-CN " }}">
{% include head.html %}

<body>
    {% include navbar.html %}
    <div class="navPusher">
        <div>
            <script src="/static/landing.js"></script>
            <div class="homeContainer">
                <div class="homeSplashFade">
                    <div class="wrapper homeWrapper">
                        <div class="inner">
                            <img src="/static/images/blade.svg" width="40%">
                            <h2 class="projectTitle">
                                <small>{{ site.data.i18n[page.language].tag_line }}</small>
                            </h2>
                            <div class="section promoSection">
                                <div class="promoRow">
                                    <div class="pluginRowBlock">
                                        <div class="pluginWrapper buttonWrapper">
                                            <a class="button" href="/docs/create-application.html" target="_self">
                                                😛 {{ site.data.i18n[page.language].quick-start }}
                                            </a>
                                        </div>
                                        <div class="pluginWrapper buttonWrapper">
                                            <a class="button" href="https://github.com/lets-blade/blade" target="_self">
                                                😎 {{ site.data.i18n[page.language].source-code }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainContainer">
                <div class="productShowcaseSection lightBackground">
                    <div style="margin: 0 auto; text-align: center;">
                        <img src="https://lets-blade.com/images/chart@2x.png" width="680" style="border-radius: 5px; -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
                            box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);" />
                    </div>
                    <div style="max-width: 43%; text-align: center; margin: 0 auto; padding-top: 20px;">
                        <h4 style="color: #f7f7f1;">
                            Blade 基于 Java8 开发，为个人开发者打造的轻量级 MVC 框架， 你只需要创建普通的 Maven 工程即可完成一个简单的应用。
                        </h4>
                    </div>
                </div>
                <div class="productShowcaseSection">
                    <div style="margin: 0 auto; text-align: center;">
                        <img src="https://lets-blade.com/images/performance@2x.png" width="680" style="border-radius: 5px; -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
                                box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);" />
                    </div>
                    <div style="max-width: 43%; text-align: center; margin: 0 auto; padding-top: 20px;">
                        <h4 style="color: #f7f7f1;">
                            在 Linux 8核CPU 1G内存，100个并发、100个连接下连续请求 60秒 吞吐可达每秒超 10w 请求
                        </h4>
                    </div>
                </div>
                <div class="tldrSection productShowcaseSection lightBackground">
                    <div class="container">
                        <div class="wrapper">


                            <div style="display:flex;flex-flow:row wrap;justify-content:space-evenly;">
                                <div style="display:flex;flex-direction:column;">
                                    <h2>{{ site.data.i18n[page.language].what-is-blade }}</h2>
                                    <ul style="flex:1;">
                                        {% for item in site.data.home.left %}
                                        <li>{{ site.data.i18n[page.language].home_left.[item] }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div style="display:flex;flex-direction:column;">
                                    <h2>{{ site.data.i18n[page.language].why-blade }}</h2>
                                    <ul style="flex:1;">
                                        {% for item in site.data.home.right %}
                                        <li>{{ site.data.i18n[page.language].home_right.[item] }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="editorSupportSection productShowcaseSection">
                    <div class="container">
                        <div class="wrapper">
                            <h2>{{ site.data.i18n[page.language].other-component }}</h2>
                            <div style="display:flex;flex-flow:row wrap;justify-content:space-around;">
                                <div class="editor">
                                    <img class="editorImage" src="/static/images/editors/jetbrick-template.svg">
                                    <div class="editorInfo">
                                        <h3 style="margin-bottom:-16px;">Jetbrick-template</h3>
                                        <div>
                                            <span>
                                                <p>
                                                    <a href="http://subchen.github.io/jetbrick-template/2x/overview.html">
                                                        <code>模板引擎</code>
                                                    </a>
                                                </p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="editor">
                                    <img class="editorImage" src="/static/images/editors/anima.svg">
                                    <div class="editorInfo">
                                        <h3 style="margin-bottom:-16px;">Anima</h3>
                                        <div>
                                            <span>
                                                <p>
                                                    <a href="https://github.com/biezhi/anima">
                                                        <code>数据库操作库</code>
                                                    </a>
                                                </p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="editor">
                                    <img class="editorImage" src="/static/images/editors/patchca.svg">
                                    <div class="editorInfo">
                                        <h3 style="margin-bottom:-16px;">Patchca</h3>
                                        <div>
                                            <span>
                                                <p>
                                                    <a href="https://github.com/lets-blade/blade-patchca">
                                                        <code>验证码渲染</code>
                                                    </a>
                                                </p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="editor">
                                    <img class="editorImage" src="/static/images/editors/json.svg">
                                    <div class="editorInfo">
                                        <h3 style="margin-bottom:-16px;">JSON Support</h3>
                                        <div>
                                            <span>
                                                <p>
                                                    <a href="https://github.com/lets-blade/blade-json-support">
                                                        <code>JSON扩展</code>
                                                    </a>
                                                </p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div style="float:right;">
                        <span>Got more? </span>
                        <a href="https://github.com/lets-blade/blade/pulls" class="button"> Send a PR </a>
                    </div> -->
                </div>
                <div class="getStartedSection productShowcaseSection lightBackground">
                    <div class="container">
                        <div class="wrapper">
                            <div class="getStartedFlexContainer" style="display:flex;flex-flow:row;align-items:baseline;justify-content:space-between;">
                                <div class="getStartedSteps">
                                    <h2>{{ site.data.i18n[page.language].get-started }}</h2>
                                    <ol>
                                        <li>{{ site.data.i18n[page.language].add-blade-to-project }}:
                                            <div class="mavenOnly">
                                                <div>
                                                    <span>
                                                        <pre><code class="hljs css xml"><span class="hljs-tag">&lt;<span class="hljs-name">dependency</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">groupId</span>&gt;</span>com.bladejava<span class="hljs-tag">&lt;/<span class="hljs-name">groupId</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">artifactId</span>&gt;</span>blade-mvc<span class="hljs-tag">&lt;/<span class="hljs-name">artifactId</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">version</span>&gt;</span>LEAST_VERSION<span class="hljs-tag">&lt;/<span class="hljs-name">version</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">dependency</span>&gt;</span></code></pre>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="gradleOnly">
                                                <div>
                                                    <span>
                                                        <pre><code class="hljs css bash">compile <span class="hljs-string">'com.bladejava:blade-mvc:2.0.8-ALPHA2'</span>
    </code></pre>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>{{ site.data.i18n[page.language].create-main-class }}:
                                            <div class="mavenOnly">
                                                <div>
                                                    <span>
                                                        <pre><code class="hljs css java"><span class="hljs-keyword">package</span> com.example;
    
<span class="hljs-keyword">import</span> com.blade.Blade;
    
<span class="hljs-keyword">public</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Application</span> </span>{
    <span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">static</span> <span class="hljs-keyword">void</span> <span class="hljs-title">main</span><span class="hljs-params">(String[] args)</span> </span>{
        Blade.me().start(Application.class, args);
    }
}</code></pre>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="gradleOnly">
                                                <div>
                                                    <span>
                                                        <pre><code class="hljs css java"><span class="hljs-keyword">package</span> com.example;
    
<span class="hljs-keyword">import</span> com.blade.Blade;

<span class="hljs-keyword">public</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Application</span> </span>{
    <span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">static</span> <span class="hljs-keyword">void</span> <span class="hljs-title">main</span><span class="hljs-params">(String[] args)</span> </span>{
        Blade.me().start(Application.class, args);
    }
}</code></pre>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                                <div style="display:flex;flex-direction:column;align-items:flex-end;flex-grow:1;margin-left:-75px;">
                                    <div class="buttonGroup buttonWrapper">
                                        <a class="button active showMavenButton" href="javascript:void(0)">maven</a>
                                        <a class="button showGradleButton" href="javascript:void(0)">gradle</a>
                                    </div>
                                    <img class="decorativeRects" style="margin-top:32px;" src="/static/images/get_started_rects.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </div>
</body>

</html>